<h1>Stupid coaching</h1>

<h2>Question</h2>
<p><%= @question %></p>
<h2>Answer</h2>
<p><%= @answer %></p>


<footer>
  <p><%= link_to "Ask a new question", ask_path %></p>
  <p><%= link_to "Back to homepage", root_path %></p>
</footer>

